<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 JMango360. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="devob" frontName="devob">
            <module name="Tha_Devob"/>
        </route>
    </router>
</config>