<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Translate">
        <plugin name="tha_trans" type="Tha\Trans\Plugin\Magento\Framework\Translate" sortOrder="2"/>
    </type>
</config>
